@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans&display=swap');
body {
	font-family: 'Open Sans';
	color: #333;
	max-width: 800px;
	margin: auto;
}

header, h1, h2, h3, h4 {
	font-family: 'Comfortaa';
}

header h1 {
	background-image: url("../images/logo.png");
	background-size: 2.5em;
	background-repeat: no-repeat;
	padding: .25em 1em .25em 3em;
	background-position: 0.25em;
}

nav {
	font-family: 'Comfortaa';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	padding: 2.5em 1em;
	z-index: -2;
	opacity: 0;
	transition: opacity 0.5s;
	display: flex;
	flex-direction: column;
	background-color: hsla(0, 0%, 10%, 0.9)
}

nav.open {
	opacity: 1;
	z-index: 3
}

nav a {
	padding: 0.5em;
	text-decoration: none;
	color: white;
	font-size: 1.4em;
	border-radius: 2px;
}

h2 {
	font-size: 2em;
	text-align: center;
}

blockquote {
	margin: 2em 1em;
	padding: 2em;
	font-weight: bolder;
	font-style: italic;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.menu {
	font-size: 1.5em;
	text-align: right;
	padding: 0.25em 0.5em;
	position: absolute;
	top: 0;
	z-index: 20;
	right: 0;
	width: 100%;
}

nav.open + .menu {
	color: white;
}

p {
	padding: 0 0.25em;
	text-align: justify;
}

img {
	width: 100%;
	align-self: start;
}

section {
	display: none;
}

section.current {
	display: block;
}

footer {
	font-size: 0.8em;
	margin-top: 5em;
	padding-top: 0.5em;
	border-top: 1px dotted black;
}

footer p {
	margin-top: 0;
}

pre {
	font-family: "Open Sans";
}

ul.three {
	columns: 200px 3;
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.flex img {
	margin: 1em 0;
	width: 100%;
}

.red {
	color: darkred;
}

strong {
	text-decoration: underline;
}

@media screen and (min-width: 425px) {

	body {
		padding: 0.75em;
	}

	header h1 {
		font-size: 1.8em;
		background-size: 2.5em;
		padding: .75em 1em .75em 3em;
	}

	p {
		padding: 0;
	}

	img {
		border-radius: 2px;
	}

}

@media screen and (min-width: 650px) {
	section.current {
		display: flex;
		flex-direction: column;
		margin: 0 0.5em;
	}

	.row {
		display: grid;
		grid-template-columns: auto 1fr;
	}
	.row3 {
		display: grid;
		grid-template-columns: auto auto auto;
	}

	.row img {
		width: 280px;
		margin-right: 1em;
	}

	h2 {
		margin-top: 0;
	}

	.flex {
		flex-direction: row;
		justify-content: space-between;
	}

	.flex img {
		width: 55%;
		max-width: 600px;
	}
}

@media screen and (min-width: 740px) {
	.menu {
		display: none;
	}

	nav {
		opacity: 1;
		position: static;
		box-sizing: border-box;
		padding: 0;
		z-index: 2;
		transition: 0.5s;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: white;
	}

	nav a {
		color: #666;
		transition: 0.4s;
		font-size: 1em;
	}

	nav a:hover {
		background-color: #ddd;
	}

	nav a.current {
		color: black;
	}

}
